[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial = "*"
python-pytun = "*"
setuptools = "*"
wheel = "*"
pypacker = "*"
digi-xbee = {git = "git://github.com/digidotcom/python-xbee"}

[requires]
python_version = "3.7"
